<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Your App</title>
</head>
<body>
<div id="root"></div>
<link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>favicon.png" />
</body>
</html>
